span.inline{
  display: inline-flex;
}

tr.asciiSNum td{
  background-color:#00D000;
}
td.asciiLNum{
  background-color:#00B000;
}

td.asciiCorner{
  background-color:#FFFFFF;
}
td.asciiBlank{
  background-color:#A0A0A0;
}

span.activeCommand{
  background:red;
  font:white;
}

td.memoryPointed{
  background:red;
}
td.memoryNotPointed{
  background:white;
}
span#memory table td{
  width:35;
  text-align:right;
}